.page-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .page-box {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -135px;
        margin-left: -228px;
        text-align: center;

        .http-code {
            margin-top: 42px;
            color: #666666;
            font-size: 20px;
            font-style: italic;
        }

        .http-dec {
            margin-top: 10px;
            line-height: 1;
            color: #666666;
            font-size: 16px;
        }

        .http-btn {
            margin-top: 12px;
        }
    }
}
