"@mlamp:registry" "https://npm.mlamp.cn"
yarn-offline-mirror "./yarn-offline-cache"
# 如果在项目内独占式使用离线镜像, 开启pruning模式
yarn-offline-mirror-pruning true
--install.prefer-offline true
--add.prefer-offline true
