.footer-todos {
    display: block;
    box-sizing: content-box;
    height: 20px;
    padding: 10px 15px;
    color: $gray-8;

    :global {
        .filters {
            position: absolute;
            right: 0;
            left: 0;

            li {
                span {
                    margin: 3px;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    cursor: pointer;
                    padding: 3px 7px;
                    text-decoration: none;
                    color: inherit;

                    &.selected {
                        border-color: rgba(175, 47, 47, 0.2);
                    }
                }
            }
        }

        .clear-completed {
            position: relative;
            float: right;
            cursor: pointer;
            text-decoration: none;
            line-height: 20px;
        }
    }
}

.footer-todos::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    height: 50px;
    overflow: hidden;
    content: "";
}
