// 参考https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 使用以上文件内的字段
$primary-color: #4a62e7;
$table-header-bg: #fafafa;
$table-header-bg-sm: $table-header-bg;
$menu-dark-submenu-bg: #001529;
